.hero-section-circulars {
    background: linear-gradient(rgba(2, 48, 112, 0.8), rgba(2, 48, 112, 0.8));
    background-size: cover;
    padding: 120px 0;
    text-align: center;
    color: #fff;
}

.table-primary {
    background-color: #0d6efd !important; /* Bootstrap primary blue */
    color: white;
}

.content-section {
    background-color: #f8f9fa; /* Light grey background */
}
